<!DOCTYPE html> 
<html lang="en-GB">
    <%=css :styles %>
    <head>
        <title>Rent a Bike Maintenance Hub</title>
    </head>
    
    <body class='container'>
        <header>
            <nav>
                <ul>
                    <li><a href="/logout" title="Logout" class=<%current?("/logout")%>>Logout</a></li>
                </ul>
            <nav>
        </header>
        <%= yield %>
    </body>
</html>